/*custom-index-v2.css*/


/*
  beige:#f2e5d5;
  light-gray:#6e7f8c;
  dark-gray:#474f56;
  dark-blue:#262f41;
  orange:#eca349;
  light-blue:#0881b9;
*/

.navbar-brand #logo {line-height:0px;padding:0px;margin-top:-14px;}
.navbar {background-color:rgba(255,255,255,.4) !important;}
.navbar-nav .btn {margin-top:19px !important;padding:2px 8px;}

.navbar-small {background-color:rgba(255,255,255,1) !important;}
.navbar-small #logo {width:80px;margin-top:-8px;}
.navbar-small .btn {margin-top:10px !important;}



.content.has-bg .content-bg:before {
    background:none;
}

#home {
  height:100vh !important;
  background-image:url(/assets/stock_img/505657425-2.jpg);
  background-size:cover;
  background-position-x:50%;
}

.home-content {
  margin-top:-200px;
}

#courses {
  height:320px !important;
  background-color:#eca349;
/*  background-image:url(/assets/img/courses-block.png);
  background-repeat:no-repeat;
  background-position-x:90%;
  background-position-y:40px;*/
}
#courses h2 {
  font-weight:100;
  color:#fff;
  padding-top:1.2em;
}

#courses img {position:relative;bottom:-32px;}

#course .btn {
  background-color:#262f41 !important;
}

#courses p {
  color:#fff;
}

#about {height:90vh;background-color:#f2e5d5;}
#about p.lead {color:#262f41 !important;}
#about .container {position:relative;top:30%;}




#milestone {
  background-color:#262f41;
}

#milestone .title {color:#fff;}

.team-row {
  margin-bottom:50px;
}

#quote {background-color:#474f56;}
#quote .quote {color:#f2e5d5;}
#quote .quote .text-theme2 {color:#eca349;}

#action-box {
  background-color:#c6ddff;
}

.btn-theme2 {color:#fff;background-color:#eca349;}
.social-list .fa {color:#ce6f56;}

#footer {background-color:#515d68;color:#fff;}
#footer a {color:#ce6f56;}

#client {
  height:500px;
}
#client blockquote, #client h2 {
  color:#262f41;
}
#client .name {color:#262f41;}
#client span.text-theme2 {color:#262f41;}

#footer {background-color:#262f41;}
#footer-logo {margin:0 auto;}